.menu_form{
    flex-direction: column;
    margin: 10% 0px 0px 0px ;
}

.menu_form .col{
    margin-top: 20px;
}

.chose_section{
    margin-left: 2px;
}

.chose_section .col .row{
    flex-direction: column;
}

.all_courses_section{
    color: black;
    background-color:rgb(255, 255, 255);
    border-radius: 20px 20px 0 0;
    position: relative;
    top: 77%;
}

.all_courses_section:hover{
    top: 0%;
    animation-duration: 2s;
    animation-direction: alternate;
  }
  
  @keyframes chose {
    0%   {top: 77%;}
    100% {top: 0%;}
  }

@keyframes chose_1 {
    0%   {top: 0%;}
    100% {top: 77%;}
  }

