.border_color{
    border: 2px solid #f8f9fa;
  }

.border_color:hover{
    border: 2px solid rgba(40, 120, 235, 0.9);
  }
.rounded-circle{
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.btn-primary{
    margin-right:3px ;
}

.nav-link{
    border: 3px solid #f8f9fa;
}

.nav-link:hover{
    border: 3px solid blue;
    border-radius: 2px;
}

.button-login {
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }

